.group__like_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 42px;
}
.group__like{
    font-size: 13px;
    margin: 0;
    color: black;
    text-align: center;
}