.header__logo {
  height: 24px;
  width: 104px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 32px;
  padding-left: 27px;
  margin: 0;
}

@media screen and (min-width: 880px) {
  .header__logo {
    height: 33px;
    width: 142px;
    padding-bottom: 41px;
    padding-left: 0;
  }
}