.popup__button {
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 238px;
  height: 46px;
  cursor: pointer;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 14px;
  margin-top: 17px;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 880px) {
  .popup__button {
    font-size: 18px;
    width: 358px;
    height: 50px;
  }
}