.group {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  justify-items: center;
  margin: 0 auto 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .group {
    grid-template-columns: repeat(2, 282px);
    column-gap: 17px;
    align-content: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .group {
    grid-template-columns: repeat(3, 282px);
    column-gap: 17px;
  }
}