.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

@media screen and (min-width: 880px) {
  .profile__subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
    width: 336px;
    align-items: start;
    text-align: left;
  }
}