.profile {
  display: flex;
  margin-top: 38px;
  margin-bottom: 37px;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .profile {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 49px;
  }
}