.popup__button-close {
  background: transparent;
  border: none;
  background-image: url(../../../images/buttonClose.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: -40px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 880px) {
  .popup__button-close {
    height: 32px;
    width: 32px;
    right: -40px;
  }
}