.profile__button-edit {
  background-image: url(../../../images/profileButtonEdit.svg);
  background-size: contain;
  background-color: transparent;
  border: 0;
  height: 18px;
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 840px) {
  .profile__button-edit {
    height: 24px;
    width: 24px;
    margin-left: 18px;
  }
}