.popup__image-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  color: black;
  min-height: 300px;
  min-width: 240px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 880px) {
  .popup__image-content {
    max-height: 562px;
    max-width: 816px;
    padding: 0;
    margin: 0;
  }
}