.popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}